@import "../abstracts/mixins";
@import "../abstracts/variables";


.decor {
  position: absolute;

  &-1 {
    left: 0;
    top: -40%;
  }
}


html{
  position: static;
  &.overflow-hidden {
    position: fixed;
    top: 0px;
    width: 100%;
  }

}

html.overflow-hidden body {
  overflow: hidden;
}

html:not(.touch-screen)::-webkit-scrollbar, html:not(.touch-screen) *::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

html:not(.touch-screen)::-webkit-scrollbar-track, html:not(.touch-screen) *::-webkit-scrollbar-track {
  background-color: #eee;
}

html:not(.touch-screen)::-webkit-scrollbar-thumb, html:not(.touch-screen) *::-webkit-scrollbar-thumb {
  background-color: $accentColor !important;
}

body, html {
  height: 100%;
}

html {
  overflow-y: scroll;
}

body .hide-scrollbar, html .hide-scrollbar {
  scrollbar-width: none
}

body .hide-scrollbar::-webkit-scrollbar, html .hide-scrollbar::-webkit-scrollbar {
  display: none
}


img::selection {
  background-color: transparent;
}

.default-icon {
  width: 100%;

  & img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.--relative {
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

.overlap {
  position: relative;
  z-index: 3;
}

body {
  &.overflow-hidden {
    // padding-left: calc(100vw - 100%);
    overflow: hidden;

  }
}


.full-height, body, html {
  height: 100%;
}

.body-padding {
  height: 80px;
  @media (max-width: $breakpoint-md) {
    height: 50px;
  }
}


.section {
  //  overflow: hidden;
  position: relative;

  & .heading {
    color: #1D1D1F;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 3px;
  }

  @media (max-width: $breakpoint-md) {

  }
}


.main {
  overflow: hidden;

  &-wrapper {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
    z-index: 1;
  }
}

.swiper {
  &-container {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  &-pagination {
    position: relative;
    bottom: 0;
    margin-top: 30px;
    display: none;
    flex-direction: row;
    justify-content: center;
    z-index: 2 !important;

    @media (max-width: $breakpoint-md) {
      display: flex;
    }

    &-bullet {
      width: 28px;
      height: 28px;
      border-radius: 100%;
      background-color: transparent;
      border: 1px solid #E1E1E1;
      opacity: 1 !important;
      margin: 0 6px !important;
      position: relative;
      @include transition(.3);
      @media (max-width: $breakpoint-md) {
        width: 20px;
        height: 20px;
        margin: 0 2px !important;
      }

      &:after {
        content: '';
        width: 60%;
        height: 60%;
        border-radius: 100%;
        background-color: #77C9C8;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        @include transition(.4);
      }

      &:hover, &-active {

        &:after {
          content: '';
          opacity: 1;
        }
      }
    }
  }

  &-controls {

  }

  &-button-next, &-button-prev {
    position: relative;
    left: auto;
    right: auto;;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 1px solid #C7C7C7;
    opacity: 1;
    top: auto;
    margin-top: 0;
    z-index: 2;
    @include transition(.5);

    & i {
      font-size: 10px;
      color: #C7C7C7;
      @include transition(.5);
    }


    &:after {
      display: none;
    }

    &:hover {
      border-color: $accentColor;

      & i {
        color: $accentColor;
      }
    }
  }
}


#loader-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  animation: loader 1.4s linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  background-color: #fff;
}

@keyframes loader {
  0% {
    opacity: 1;
  }

  70% {
    opacity: 1;
  }

  99% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
    visibility: hidden;
    pointer-events: all;
  }
}
